body {
    font-family: "Roboto Slab", serif;
}

/* =========================    HEADER    ============================== */
:root {
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 20px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
  
.header:before {
    content: '' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
    z-index: 2;
  }
  
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
}
  
.header__logo {
    flex: 0 0 100px;
    position: relative;
    z-index: 3;
}
  
.header__logo img {
    max-width: 100%;
}
  
.header__burger {
    display: none;
}

.header__list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-left: 0;
}
  
  
.header__list li {
    list-style: none;
    margin: 0 0 0 60px;
}
  
.header__link {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.3px;
    line-height: 1;
    text-decoration: none;
    color: #000000;
}

.header__link {
    &:hover, 
    &:focus {
        color: #1A90F0;
        transition: all 0.3s ease-out;
    }
}