body {
    font-family: "Roboto Slab", serif;
}

/* =========================    HEADER    ============================== */
:root {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #1A90F0;
}
  
.header:before {
    content: '' ;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 95px;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 20px;
}

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-contacts_list {
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-contacts_item {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.header-contacts_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header-contacts_link {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.3px;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
}

.lang-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 3px;
}

.lang-icon {
    margin-right: 10px;
}

.lang-icon:last-child {
    margin-right: 0px;
}

.lang-img {
    width: 30px;
    height: 30px;
}
  
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
}
  
.header__logo {
    flex: 0 0 100px;
    position: relative;
    z-index: 3;
}
  
.header__logo img {
    width: 300px;
}
  
.header__burger {
    display: none;
}

.header__list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-left: 0;
}
  
.header__list li {
    list-style: none;
    margin: 0 0 0 60px;
}
  
.header__link {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.3px;
    line-height: 1;
    text-decoration: none;
    color: #000000;
}

.header__link {
    &:hover, 
    &:focus {
        color: #1A90F0;
        transition: all 0.3s ease-out;
    }
}
